.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 0;
  position: fixed;
}

.container {
  position: fixed;
  top: 5vh;
  right: 1vh;
}

.modal {
  width: 320px;
  height: 90vh;
  background: white;
  z-index: 10;
  border-radius: 8px;
  padding: 10px;
}

.heading {
  margin: 0;
  padding: 10px;
  text-align: center;
}

.modalContent {
  padding: 10px;
  text-align: left;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  align-self: flex-start;
}

.pictureContainer {
  width: 100%;
  text-align: center;
}

.picture {
  height: 300px;
}
