.formdata__card {
  padding: 15px;
  text-align: left;
  border: solid 2px lightgrey;
  border-radius: 8px;
  box-shadow: 0 0 10px lightgrey;
}

.formdata__card.highlighted {
  border: dotted 2px red;
}
