.formdata__card {
  padding: 15px;
  text-align: left;
  min-width: 320px;
}

.formdata__card:nth-child(odd) {
  background-color: #eef;
}

.formdata__card:nth-child(even) {
  background-color: #fef;
}

.formdata__card.highlighted {
  outline: solid 2px yellow;
  outline-offset: -6px;
  background-color: lightgreen;
}

.formdata__card img {
  max-width: 300px;
}
