.itemcard {
  display: flex;
  max-width: 300px;
  border: 1px black solid;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
}

.itemcard:hover {
  box-shadow: 0px 0px 10px lightgrey;
}
